<div>
    <div class="container bg-white p-0 add-project-heading">
        <div class="row d-flex border-bottom">
            <div class="col-12 pt-3 pb-3 pl-30">
                <h4 *ngIf="editparam.action == 'add'">Add New Contractor</h4>
                <h4 *ngIf="editparam.action == 'edit'">Edit Contractor</h4>
            </div>
        </div>
        <div class="row add_contractor">
            <div class="col-12 p-0">
                <form name="form" class="form-inline add-project mt-3 mb-3" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="row d-flex pl-3 pr-3">
                    <!-- <div class="col-12 p-0 mt-3 mb-3">
                        <div *ngIf="proStatus == 1" class="alert alert-success">
                            <strong>Contractor</strong> has added successfully!
                        </div>
                        <div *ngIf="proEditStatus == 1" class="alert alert-success">
                            <strong>Contractor</strong> has updated successfully!
                        </div>
                        <div *ngIf="proStatus == 2" class="alert alert-danger">
                            <strong>Error!</strong>
                        </div>
                    </div> -->
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="fname" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">First Name <span class="text-danger font-20">*</span></label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="fname" [(ngModel)]="model.fname" #fname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fname.invalid }" required />
                            <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="fname.errors.required">First Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="lname" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Last Name <span class="text-danger font-20">*</span></label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="lname" [(ngModel)]="model.lname" #lname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lname.invalid }" required />
                            <div *ngIf="f.submitted && lname.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="lname.errors.required">Last Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="email" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Email <span class="text-danger font-20">*</span></label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" (change)="onChange($event.target.value)" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />

                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="email.errors.required">Email is required</div>
                                <div *ngIf="email.errors.email">Email must be a valid email address</div>
                                <div *ngIf="email.errors?.pattern">Invalid email pattern</div>
                            </div>
                            <div *ngIf="uniqueEmail == 1" class="text-error" style="color: red;padding-left: 170px;">
                          Email already exist!
                          </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12" *ngIf="editparam.action == 'add'">
                        <div class="form-group">
                            <label for="password" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Password <span class="text-danger font-20">*</span></label>
                            <input type="password" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" (keypress)="keyPress($event)" minlength=6 required />
                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors?.minlength">Password must be at least 6 character</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="phone" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Phone Number <span class="text-danger font-20">*</span></label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" (keypress)="keyPress($event)" name="phone" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required minlength=10 maxlength=10 />
                            <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="phone.errors.required">Phone Number is required</div>
                            </div>
                            <div *ngIf="phone.errors?.minlength">Phone Number must be at least 10 numbers</div>
                            <div *ngIf="phone.errors?.pattern">Phone Number must be numbers only</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="gender" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Gender <span class="text-danger font-20">*</span></label>
                            <select class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="gender" [(ngModel)]="model.gender" #gender="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" required><option value="" [selected]="">--Gender--</option><option value="male">Male</option><option value="female">Female</option></select>
                            <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="status" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Status <span class="text-danger font-20">*</span></label>
                            <select class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="status" [(ngModel)]="model.status" #status="ngModel" [ngClass]="{ 'is-invalid': f.submitted && status.invalid }" required><option value="" [selected]="">--Status--</option><option value="active">Active</option><option value="inactive">Inactive</option><option value="deleted">Deleted</option></select>
                            <div *ngIf="f.submitted && status.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="status.errors.required">Status is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="default_pay" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Default % Pay <span class="text-danger font-20">*</span></label>
                            <input type="text" class="form-control col-lg-8 col-md-8 col-sm-12 col-12" name="default_pay" (keypress)="keyPress($event)" [(ngModel)]="model.default_pay" #default_pay="ngModel" [ngClass]="{ 'is-invalid': f.submitted && default_pay.invalid }" required />
                            <div *ngIf="f.submitted && default_pay.invalid" class="invalid-feedback offset-lg-4 offset-md-4 offset-sm-0 offset-0 col-lg-8 col-md-8 col-sm-12 col-12 p-0">
                                <div *ngIf="default_pay.errors.required">Default % pay is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <div class="form-group">
                            <label for="default_pay" class="col-lg-4 col-md-4 col-sm-12 col-12 p-0 d-flex align-items-center justify-content-start">Upload Image <span class="text-danger font-20">*</span></label>
                            <input type="file" ng2FileSelect [uploader]="uploaderProfile" accept=".png,.jpg,.jpeg"/>
                        </div>
                        <div class="profile-pic-placeholder" *ngIf="editparam.action == 'edit'">
                            <img *ngIf="model.picstatus==1 && model.picstatus!=undefined" class="img-fluid placeholder contractor-profile-img" src="{{imgUrl}}{{model.id}}/download/{{model.profilePic}}">

                             <a *ngIf="model.picstatus==1 && model.picstatus!=undefined" (click)="removePic(model.id, model.profilePic)" style="cursor: pointer;" class="remove-img"><i class="fa fa-times" aria-hidden="true"></i></a>
                         </div>

                    </div>
                    <div class="col-sm-12 col-12">
                        <div class="form-group proj-desc">
                            <label for="about" class="d-flex align-items-center justify-content-start">About Contractor</label>
                            <textarea class="form-control" name="about" [(ngModel)]="model.about" #about="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="form-group">
                            <button class="btn btn-large btn-outline-seconday rounded bg-transparent common-button" type="submit" *ngIf="editparam.action == 'add'" [disabled] = "uniqueEmail == 1">Save</button>               
                             <button class="btn btn-large btn-outline-seconday rounded bg-transparent common-button" type="submit" *ngIf="editparam.action == 'edit'" [disabled] = "uniqueEmail == 1">Update</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>