<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
            <h3>View Contractor</h3>
            <div class="form-group">
                <label for="fname"><strong>First Name: </strong></label>
                {{model.fname}} 
            </div>
            <div class="form-group">
                <label for="lname"><strong>Last Name: </strong></label>
                {{model.lname}} 
            </div>
            <div class="form-group">
                <label for="email"><strong>Email: </strong></label>
                {{model.email}} 
            </div>
            <div class="form-group">
                <label for="phone"><strong>Phone Number: </strong></label>
                {{model.phone}} 
            </div>
            <div class="form-group">
                <label for="gender"><strong>Gender: </strong></label>
                {{model.gender}} 
            </div>
            <div class="form-group">
                <label for="about"><strong>About Yourself: </strong></label>
                {{model.about}} 
            </div>
            </div>
        </div>
    </div>
</div>