
<div class="app align-items-center login-form bg-white">
  <div class="container-fluid p-0">
    <!-- <div class="row d-flex bg-dark">
      <div class="col-12 d-flex align-items-center justify-content-center mt-2 mb-2">
        <span class="text-white">Site Title</span>
      </div>
    </div> -->
    <div class="row d-flex border-bottom">
      <div class="col-12 d-flex align-items-center justify-content-center mt-3 mb-3">
        <a href="" class="col-lg-2 col-md-3 col-sm-4 col-xs-6 col-8">
          <img src="/assets/img/logo.png" class="img-fluid" />
        </a>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 mt-4 mb-4 border rounded p-0">
              <div class="card login-block mb-0">         
                <form class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="" (ngSubmit)="onSubmit()" #forgotForm="ngForm">       
                <div class="alert alert-danger" [hidden]="!error">Incorrect Email!</div>
                 <div class="alert alert-success" [hidden]="!success">Mail Sent successfully!</div>
                  <div class="card-body">
                    <p class="text-muted">Recover your account password</p>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                          <input class="form-control border" name="email" placeholder="Email" type="text" [(ngModel)]="data.email" required email>
                        </div>
                      </div>
                    </div>  
                    <div class="form-group row align-items-center">
                      <div class="col-md-6">                        
                        <button class="btn btn-small btn-success rounded" type="submit" [disabled] = "!forgotForm.form.valid"><!-- <i class="fa fa-send"></i> --> Send Mail</button>
                      </div>
                      <div class="col-md-6">                        
                        <a class="pull-right" href="#" routerLink = "/login">&lt;&lt; Login</a>
                      </div>
                    </div> 
                </div>             
              </form>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid p-0 fixed-bottom">
    <div class="row d-flex bg-light">
      <div class="col-12 d-flex align-items-center justify-content-center mt-2 mb-2">
        <span class="text-dark">@2019 All Rights Reserved.</span>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>