<div class="animated fadeIn" >
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body p-0">
        <!-- header -->
        <div class="row mt-3 mb-3 project-list border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <h4 class="card-title">Clients List <a class="btn btn-info rounded ml-1 text-white" routerlink="/clients/addclient" href="#/clients/addclient">+ Add New Client</a>
              </h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search clients"/>
              </div>
            </div>
          </div>
          <!-- header -->
          <div *ngIf="checkData == 1" class="chart-wrapper" style="margin-top:40px;">
          <!-- <div *ngIf="prodel == 1" class="alert alert-success">
            <strong>Client</strong> has deleted successfully!
          </div>  -->
           <div class="table-responsive project-component">
           <table class="table"[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="fname"><h4>Client Name</h4></mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=""><h4>Email</h4></mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=""><h4>Client Code</h4></mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by=""><h4>Phone Number</h4></mfDefaultSorter>
                </th>
                <th><h4>Status</h4></th>
                <th><h4>Action</h4></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data;let i = index">
                <td>{{item.client_name}}</td>
                <td class="text-left">{{item.email}}</td>
                <td class="text-left">{{item.client_code}}</td>
                <td class="text-left">{{item.phone}}</td>
                <td>
                  <span class="badge badge-success rounded" *ngIf="item.status == 'active'">Active</span>
                   <span class="badge badge-danger rounded" *ngIf="item.status == 'inactive'">Inactive</span>
                   <span class="badge badge-danger rounded" *ngIf="item.status == 'deleted'">Deleted</span>
                </td>
                <td>
                  <div class="action-icons">
                    <span>
                      <a class="btn btn-show-contact100" routerLink="/clients/viewclient/{{item.id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </span>
                    <span>
                      <a class="btn btn-show-contact100" routerLink="/clients/editclient/{{item.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </span>  
                    <span *ngIf="item.status == 'active' || item.status == 'inactive'">
                      <button class="btn btn-small btn-outline-0 bg-transparent" (click) ="delclient(item.id, index)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>            
          <!-- <div class="col-sm-12">
              <label for="client_name"><strong>First Name</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <label for="email" style="margin-left: 100px;"><strong>Last Name</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <label for="email" style="margin-left: 100px;"><strong>Email</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
              <label for="action" style="margin-left: 100px;"><strong>Action</strong></label>   
            </div>
          <div class="row" *ngFor="let item of model">
            <div class="col-sm-2" style="float:left;">
              <div>{{item.fname}}</div>          
            </div>
            <div class="col-sm-2" style="float:left;">
              <div>{{item.lname}}</div>          
            </div>
            <div class="col-sm-3" style="float:left;">
                <div>{{item.email}}</div>        
            </div>
            <div class="col-sm-2" style="float:left;">
                <div><span><a class="btn btn-show-contact100" routerLink="/contractors/editcontractor/{{item.id}}">Edit</a></span>  <span><button class="btn btn-small btn-outline-primary " (click) ="delcontractor(item.id)"><i class="fa fa-trash"></i></button>
                </span><br/></div>        
            </div>
            </div> -->
          </div>
          <div *ngIf="checkData == 0">
          No client Found!
          </div>
        </div>
      </div>
    </div>
  </div><!--/.card2-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>