<style>
  body {
    background-color: #f0f0f0;
  }
</style>
<div class="animated fadeIn dashboard-component" >
  <div class="row">
    <!-- <div class="col-sm-4 col-lg-4 px-lg-0 px-xl-0 px-sm-0">
      <div class="card">
        <div class="card-body row d-flex pt-2 pb-2">
          <div class="card-left d-flex align-items-center justify-content-center">
            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
          </div>
          <div class="card-right d-flex flex-wrap align-items-center justify-content-start">
            <h4 class="width" >125 Emails</h4>
            <p class="mb-0">6 new arrivals</p>
          </div>
        </div>
      </div>
    </div> --><!--/.col-->
    <div class="col-sm-6 col-lg-6 px-lg-0 px-xl-0 px-sm-0">
      <div class="card">
        <div class="card-body row d-flex pt-2 pb-2">
          <div class="card-left d-flex align-items-center justify-content-center">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          </div>
          <div class="card-right p-0 d-flex flex-wrap align-items-center justify-content-start">
            <h4 class="width">Total Projects: {{countProject}}</h4>
            <span class="d-block mr-4">Active: {{activeProjectCount}}</span>
            <span class="d-block mr-4">Inactive: {{inactiveProjectCount}}</span>
            <span class="d-block">Deleted: {{deleteProjectCount}}</span>
            <!-- <p class="mb-0">open {{countProject}}</p> -->
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-6 pr-lg-0 pr-xl-0 pr-sm-0">
      <div class="card">
        <div class="card-body row d-flex pt-2 pb-2">
          <div class="card-left d-flex align-items-center justify-content-center">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="card-right d-flex flex-wrap align-items-center justify-content-start">
            <h4 class="width"><!-- {{countContractor}}  -->Total Contractors: {{countContractor}} </h4>
            <!-- <p class="mb-0">{{countContractor}} new</p> -->
            <span class="d-block mr-4">Active: {{activeContractorCount}}</span>
            <span class="d-block mr-4">Inactive: {{inactiveContractorCount}}</span>
            <span class="d-block">Deleted: {{deleteContractorCount}}</span>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-8 px-lg-0 px-xl-0 px-sm-0">
      <div class="card full-height">
        <div class="card-body p-0">
          <div class="row d-flex border-bottom pt-3 pb-3">
            <div class="col-12 d-flex align-items-center justify-content-start">
              <h5 class="card-title mb-0">Active Projects</h5>
              <button class="btn btn-sm btn-info rounded text-white ml-2 project-count" type="button">{{activeProjectCount}}</button>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div>
            <!-- <div class="col-7">
            </div> -->
          </div><!--/.row-->

            <div *ngIf="checkData == 1" class="chart-wrapper pt-2 pb-2">
            <!-- <div *ngIf="prodel == 1" class="alert alert-success">

              <strong>Project</strong> has deleted successfully!
            </div> -->
          <div class="row d-flex pt-2 pb-2" *ngFor="let item of model">
             <div class="col-lg-8 col-md-8 col-sm-6 col-7 pl-0 d-flex align-items-center justify-content-start">
              <div class="card P-0 border-0 width mb-0">
                <div class="card-body row d-flex p-0">
                  <div class="col-12 d-flex flex-wrap align-items-center justify-content-start">
                    <h4 class="mb-0 width d-flex align-items-center">{{item.project_name}}</h4>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-5 d-flex align-items-center justify-content-end action-icons">
                <div class="display-inline">
                  <a popover="View" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/projects/viewproject/{{item.id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                  <a class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/projects/editproject/{{item.id}}" *ngIf="userRoleId == 1" popover="Edit" [popoverOnHover]="true"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a class="btn btn-small btn-outline-0 p-1 bg-transparent " (click) ="delproject(item.id)" *ngIf="userRoleId == 1 && item.status!='deleted'" popover="Delete" [popoverOnHover]="true"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div> 
              </div>
            </div>
          </div>
          <div class="chart-wrapper pt-2 pb-2" *ngIf="checkData == 0">
          <div class="row p-3 pb-3">
              <div class="col-12 p-0">No Project Found!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pr-lg-0 pr-xl-0 pr-sm-0">
      <div class="card full-height">
        <div class="card-body p-0">
          <div class="row d-flex border-bottom pt-3 pb-3">
            <div class="col-12 d-flex align-items-center justify-content-start">
              <h5 class="card-title mb-0">Active Contractors</h5>
              <button class="btn btn-sm btn-info rounded text-white ml-2 project-count" type="button">{{activeContractorCount}}</button>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div>
            <!-- <div class="col-2 p-0 d-flex align-items-center justify-content-start">
            </div> -->
          </div><!--/.row-->

           <div *ngIf="checkCont == 1" class="chart-wrapper pt-2 pb-2">
            <!-- <div *ngIf="condel == 1" class="alert alert-success">

              <strong>Contractor</strong> has deleted successfully!
            </div> -->
            <div class="row d-flex flex-wrap mb-3 pt-2" *ngFor="let item2 of data">
              <div class="col-12 d-flex align-items-center justify-content-end">
                <div class="card p-0 border-0 width mb-0">
                  <div class="card-body row d-flex p-0">
                    <div class="col-3 p-0 d-flex align-items-center justify-content-center">
                       <img *ngIf="item2.picstatus==1 && item2.picstatus!=undefined" class="img-fluid rounded-circle placeholder" src="{{imgUrl}}{{item2.id}}/download/{{item2.profilePic}}">
                      

                      <img *ngIf="item2.picstatus==0 || item2.picstatus==undefined" class="img-fluid rounded-circle placeholder" src="https://via.placeholder.com/64/eee">

                    </div>
                    <div class="col-9 d-flex flex-wrap align-items-center justify-content-start">
                      <h4 class="mb-0 width">{{item2.fname}}{{item2.lname}}</h4>
                      <div *ngIf="userRoleId == 1" class="action-icons">
			<a popover="View" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/contractors/viewcontractor/{{item2.id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
			<a popover="Edit" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/contractors/editcontractor/{{item2.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			<a *ngIf="item2.status != 'deleted'" popover="Delete" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" (click)="delcontractor(item2.id)"><i class="fa fa-times" aria-hidden="true"></i></a>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-wrapper pt-2 pb-2" *ngIf="checkCont == 0">
            <div class="row p-3 pb-3">
              <div class="col-12 p-0">No Contractor Found!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-12 px-lg-0 px-xl-0 px-sm-0">
      <div class="card">
        <div class="card-body p-0">
          <div class="row d-flex border-bottom pt-3 pb-3">
            <div class="col-12">
              <h5 class="card-title mb-0">Un-Assigned Projects</h5>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
          </div><!--/.row-->
          <div *ngIf="checkAssignPro > 0" class="chart-wrapper">
            <div class="row d-flex pt-2 pb-2" *ngFor="let item3 of unassdata">
             <div class="col-lg-8 col-md-8 col-sm-6 col-7 d-flex align-items-center justify-content-start" *ngIf="item3.unass == '1'">
              <div class="card P-0 border-0 width mb-0">
                <div class="card-body row d-flex p-0">
                  <div class="col-12 pl-0 d-flex flex-wrap align-items-center justify-content-start">
                    <h4 class="mb-0 width d-flex align-items-center">{{item3.project_name}}</h4>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-5 d-flex align-items-center justify-content-end" *ngIf="item3.unass == '1'">
                <div class="action-icons">
 		  <a popover="View" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/projects/viewproject/{{item3.id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                  <a *ngIf="userId == item3.member_id || userRoleId==1" popover="Edit" [popoverOnHover]="true" class="btn btn-small btn-outline-0 p-1 bg-transparent" routerLink="/projects/editproject/{{item3.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="chart-wrapper" *ngIf="checkAssignPro == '0'">
            <div class="row p-3 pb-3">
              <div class="col-12 p-0">No Un-Assigned Project Found!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.card2-->
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

