<div class="animated fadeIn" >
  <div class="row">
    <div class="col-sm-4 col-lg-4">
      <div class="card">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0" >125 Emails</h4>
          <p  >6 new arrivals</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-8 col-lg-4">
      <div class="card">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <h4 class="mb-0">{{countProject}} Projects</h4>
          <p>38 open</p>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-8 col-lg-4">
      <div class="card">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <h4 class="mb-0">{{countContractor}} Contractors</h4>
          <p>2 new</p>
        </div>
      </div>
    </div>
  </div><!--/.row-->
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Active Projects</h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
          </div><!--/.row-->
            <div *ngIf="checkData == 1" class="chart-wrapper" style="height:300px;margin-top:40px;">
            <div *ngIf="prodel == 1" class="text-error">
                      Project has deleted successfully!
                      </div>
          <div class="col-sm-12">
              <label for="client_name"><strong>Project Name</strong></label> 
              <label for="action" style="margin-left: 100px;"><strong>Action</strong></label>   
            </div>
          <div class="row" *ngFor="let item of model">
            <div class="col-sm-3" style="float:left;">
              <div>{{item.project_name}}</div>          
            </div>
            <div class="col-sm-3" style="float:left;">
                <div><span><a class="btn btn-show-contact100" routerLink="/projects/editproject/{{item.id}}">Edit</a></span>  <span><button class="btn btn-small btn-outline-primary " (click) ="delproject(item.id)"><i class="fa fa-trash"></i></button>
                </span><br/></div>        
            </div>
            </div>
          </div>
          <div class="chart-wrapper" *ngIf="checkData == 0">
          No Data Found!
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5 mw-100">
              <h4 class="card-title mb-0">Active Contractors</h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
          </div><!--/.row-->
           <div *ngIf="checkCont == 1" class="chart-wrapper" style="height:300px;margin-top:40px;">
           <div *ngIf="condel == 1" class="text-error">
                      Contractor has deleted successfully!
                      </div>
          <div class="col-sm-12">
              <label for="client_name"><strong>Name</strong></label> 
              <label for="action" style="margin-left: 100px;"><strong>Action</strong></label>   
            </div>
          <div class="row" *ngFor="let item2 of data">
            <div class="col-sm-6" style="float:left;">
              <div>{{item2.fname}}{{item2.lname}}</div>          
            </div>
            <div class="col-sm-6" style="float:left;">
                <div><span><a class="btn btn-show-contact100" routerLink="/contractors/editcontractor/{{item2.id}}">Edit</a></span>  <span><button class="btn btn-small btn-outline-primary " (click) ="delcontractor(item2.id)"><i class="fa fa-trash"></i></button>
                </span><br/></div>        
            </div>
            </div>
          </div>
          <div class="chart-wrapper" *ngIf="checkCont == 0">
          No Data Found!
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Un-Assigned Projects</h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
          </div><!--/.row-->
          <div *ngIf="checkAssignPro == 1" class="chart-wrapper" style="height:300px;margin-top:40px;">
            <div *ngIf="prodel == 1" class="text-error">
                      Project has deleted successfully!
                      </div>
          <div class="col-sm-12">
              <label for="client_name"><strong>Project Name</strong></label> 
              <label for="action" style="margin-left: 100px;"><strong>Action</strong></label>   
            </div>
          <div class="row" *ngFor="let item3 of assignpro">
            <div class="col-sm-3" style="float:left;">
              <div>{{item3.project_name}}</div>          
            </div>
            <div class="col-sm-3" style="float:left;">
                <div><span><a class="btn btn-show-contact100" routerLink="/projects/editproject/{{item3.id}}">Edit</a></span>  <span><button class="btn btn-small btn-outline-primary " (click) ="delproject(item3.id)"><i class="fa fa-trash"></i></button>
                </span><br/></div>        
            </div>
            </div>
          </div>
          <div class="chart-wrapper" *ngIf="checkAssignPro == 0">
          No Data Found!
          </div>
        </div>
      </div>
    </div>
  </div><!--/.card2-->
</div>
