  <style>
  body {
    background-color: white;
  }
.timesheet tr th, .timesheet tr td {
  text-align:left;
  vertical-align: middle !important;
  border-bottom: 1px solid #e0e0e0;
}
.date {
  font-weight:normal;
}
.placeholder {
border-radius:50%;
}
.glyphicon {
  cursor:pointer;
}
.btn.btn-default.text-center{
  display: none !important;
}
</style>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<div class="row d-flex border-bottom">
  <div class="col-12 pt-3 pb-3 pl-md-0">
  <h4 class="mb-0">Timesheet</h4>
  </div>
</div> 
 <form name="form" (ngSubmit)="sf.form.valid" #sf="ngForm" novalidate> 
     <div class="row mt-4 mb-2 contractor-list align-items-center justify-content-end">
      <div *ngIf="currentRoleId == 1" class="d-inline col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 pl-lg-2 pl-md-2 pl-sm-2 pl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
        <select class="form-control" (change)="onSelectCont($event.target.value)" [(ngModel)]="contractorId" #member_id="ngModel" name="member_id" style="height: 35px;">
              <option value="" [selected]="">--select contractor--</option>
              <option *ngFor="let con of conData" [value]="con.id">{{con.fname+' '+con.lname}}</option>
            </select>
      </div>
      <div class="d-inline col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 pl-lg-2 pl-md-2 pl-sm-2 pl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
        <div class="input-group date form-calendar" id="datetimepicker1">
              <input type="text" class="form-control w-100" name="sheettime" id="sheettime" [(ngModel)]="sheettimeData" #sheettime="ngModel" readonly #sdp="bsDaterangepicker" bsDaterangepicker (ngModelChange)="onPickSheet($event)" [ngClass]="{ 'is-invalid': sf.submitted && sheettime.invalid }" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY' }" required placeholder="Select Date" />
              <span class="input-group-addon bg-transparent">
                  <span class="fa fa-calendar"></span>
              </span>
          </div>
        </div>
        <div class="d-inline col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12 pl-lg-2 pl-md-2 pl-sm-2 pl-0 mb-lg-0 mb-md-0 mb-sm-0 mb-3">
        <select class="form-control" [(ngModel)]="timesheetStatusData" #timesheetstatus="ngModel" (change)="onSelectFilter($event.target.value)" name="timesheetstatus" style="height: 35px;">
              <option value="active">Active Timesheets</option>
              <option value="alltimesheet">All Timesheets</option>
            </select>
      </div>
      </div>
</form>

  <!-- Timesheet Vertical Layout -->
  <div class="table-responsive timesheet b-white pt-3" *ngIf="checkData == 1">
    <table class="table text-left">
      <thead>
        <tr>
          <th><div class="equal">Date</div></th>
          <th *ngFor="let prod of data"><div class="equal">{{prod.project_name}}</div></th>
        </tr>
      </thead>
      <tr *ngFor="let itemdate of datesData;let i = index ">
        <td><div class="equal"><b>{{itemdate.split('/')[1]}}/{{itemdate.split('/')[0]}}/{{itemdate.split('/')[2]}}</b></div></td>
        <td *ngFor="let item of data;let j = index ">
          <div class="equal">
            <span class="p-2" *ngIf="item.stime">{{item.stime.split('_')[i]}}</span>
            <popover-content #mycont [animation]="true" 
                [closeOnClickOutside]="true">
              <form class="d-flex flex-wrap align-items-center mt-2 mb-2" name="form" (ngSubmit)="f.form.valid && onSubmit();" (ngSubmit)="checkTimesheet(f.value)" #f="ngForm">
                <div class="form-group form-inline mb-2">
                        <label class="d-inline mr-2" for="stime">Time</label>
                        <timepicker class="timepicker d-inline" [(ngModel)]="model.stime" #stime="ngModel" name="stime" [hourStep]="hstep"
                          [minuteStep]="mstep" [showMeridian]="ismeridian"
                          [readonlyInput]="!isEnabled" [ngClass]="{ 'is-invalid': f.submitted && stime.invalid }" required>
                          </timepicker>
                </div>
                <div class="input-group">
                    <!-- <input type="text" class="form-control p-1 " name="description" value="{{cuDes}}" placeholder="Description" [(ngModel)]="model.description" #description="ngModel"/> -->
                    <textarea class="form-control" name="description" value="{{cuDes}}" placeholder="Description" [(ngModel)]="model.description" #description="ngModel"></textarea>
                </div>
                <div class="input-group-append mt-2 d-flex flex-wrap w-100 justify-content-left">
                  <span class=""> <button class="btn btn-large btn-outline-seconday bg-transparent rounded popover-common-button" type="submit">Save</button></span>
                </div>
              </form>
            </popover-content>
            <span [popover]="mycont" [popoverCloseOnClickOutside]="true" [popoverOnHover]="false" [popoverCloseOnMouseOutside]="false" [popoverDisabled]="false" [popoverAnimation]="true" class="fa fa-edit p-2" (click)="getDate(datesData[i],item.id,item.stime.split('_')[i],item.des.split('_')[i],item.tsId.split('_')[i], item.contractorid, item.fullstime.split('@')[i], i);" *ngIf="item.assign == 1 && (item.status == 'active' || item.status == 'draft' || item.status == 'inprogress' || item.status == 'completed') && item.memberstatus=='active'"></span>
            <!-- <span *ngIf="addTimeForm == 1 && formDis.split('_')[0] == item.project_id && formDis.split('_')[1] == i">

                  </span> -->
          </div>
        </td>
      </tr>
      <tr>
        <td><div class="equal"><b>Total Hours</b></div></td>
        <td *ngFor="let item of data">
          <div class="equal"><span class="p-2">{{item.totalStime}}</span></div>
        </td>
      </tr>
      <tr>
        <td><div class="equal"><b>Total Rate</b></div></td>
        <td *ngFor="let item of data">
          <div class="equal"><span class="p-2">${{getRate(item.totalStime, item.budget, item.rate, item.percentage)}}/h</span></div>
        </td>
      </tr>
      <tr>
        <td><div class="equal"><b>Total Amount</b></div></td>
        <td *ngFor="let item of data">
          <div class="equal"><span class="p-2">${{getAmount(item.totalStime, item.budget, item.rate, item.percentage)}}</span></div>
        </td>
      </tr>
    </table>
  </div>
  <!-- Timesheet Vertical Layout -->

<!-- Modal -->

<div bsModal #dealerModal="bs-modal" class="modal fade dealer-detail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Time</h4>
        <button type="button" class="close" (click)="resetTimeForm($event); dealerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="row">
            <div class="col-md-6 offset-md-3">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit();" #f="ngForm">
                <div class="form-group">
                        <label for="stime">Time</label>
                        <timepicker [(ngModel)]="model.stime" #stime="ngModel" name="stime" [hourStep]="hstep"
          [minuteStep]="mstep" [showMeridian]="ismeridian"
          [readonlyInput]="!isEnabled"></timepicker>
                        <!-- <input type="text" class="form-control" name="stime" [(ngModel)]="model.stime" #stime="ngModel" [ngClass]="{ 'is-invalid': f.submitted && stime.invalid }" value="{{cuStime}}" required /> -->

                        <!-- <timepicker [(ngModel)]="model.stime" name="stime" [hourStep]="hstep"
          [minuteStep]="mstep" [showMeridian]="ismeridian"
          [readonlyInput]="!isEnabled"></timepicker> -->

                        <div *ngIf="f.submitted && stime.invalid" class="invalid-feedback">
                            <div *ngIf="stime.errors.required">Time is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" value="{{cuDes}}" [(ngModel)]="model.description" #description="ngModel" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-large btn-primary" type="submit" [disabled] = "!f.form.valid && cuStime=='0'" >Save</button>
                    </div>
                    </form>
               </div>

               <div *ngIf="addData == 1" class="text-error">
                Project Time has save successfully!
                </div>
                <div *ngIf="addData == 2" class="text-error">
                Project Time has updated successfully!
                </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resetTimeForm($event); dealerModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<toaster-container [toasterconfig]="toasterconfig"></toaster-container>