<div>
    <div class="container bg-white p-0 add-project-heading mb-4 pb-3">
      <div class="row d-flex border-bottom">
            <div class="col-12 pt-3 pb-3 pl-30">
                <h4 class="mb-0">Change Password</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 p-0">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="row d-flex pl-3 pr-3">
                    <div class="col-12 mt-4 mb-2">
                      <div *ngIf="proStatus == 1" class="alert alert-success">
                          <strong>Password</strong> has updated successfully!
                      </div>
                      <div *ngIf="proStatus == 2" class="alert alert-danger">
                          <strong>Error!</strong> 
                      </div> 
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input type="password" placeholder="New Password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required />
                        <div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
                            <div *ngIf="newPassword.errors.required">New Password is required</div>
                        </div>
                    </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <input type="password" placeholder="Confirm New Password" class="form-control" name="cnpass" [(ngModel)]="model.cnpass" #cnpass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cnpass.invalid }" required />
                        <div *ngIf="f.submitted && cnpass.invalid" class="invalid-feedback">
                            <div *ngIf="cnpass.errors.required">Confirm New Password is required</div>
                        </div>
                        <div *ngIf="passStatus == 1" class="text-error">
                          New password did't match with confirm password!
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-12 pt-3">
                        <div class="form-group">
                          <button class="btn btn-large btn-success solid-btn rounded" type="submit">Save</button>               
                        </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>