/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: SourceSansPro;
  src: url(assets/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: SourceSansPro-Light;
  src: url(assets/fonts/SourceSansPro-Light.otf);
}
body {
    font-family: SourceSansPro-Light;
    background-color: #f0f0f0;
    font-size: 14px;
}
.c-heading {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.5px;
}
.c-sub-heading {
    font-size: 14px;
    color: #333333;
    letter-spacing: 0.5px;
}
.c-button {
    padding: 6px 46px;
    margin-top: 18px;
}
.c-checkbox {
    border-color: #9e9e9e;
}
.table th, .table td {
    border-color: #e0e0e0 !important;
}
.timesheet table tbody tr:last-child td {
    border-bottom: none;
}
.timesheet table thead th {
    border-top: none;
}
.pagination-align ul.pagination.float-sm-right {
  display: none;
}
.project-name:hover, .project-name:focus, .project-name:active {
    background-color: #63c2de;
    transition: .05s ease;
    border-color: #63c2de;
    box-shadow: none;
}
/*custom checkbox*/
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 17px;
    height: 17px;
    background: white;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
}
.styled-checkbox:checked + label:before {
  background: #4dbd74;
  border-radius: 5px;
  border: 1px solid #4dbd74;
}
.styled-checkbox:disabled + label {
  color: #63c2de;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3.4px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*custom checkbox*/
.reset-password {
    color: #333333;
}
.reset-password:hover {
    color: #20a8d8;
}
.card-left {
    width: 50px;
    max-width: 100%;
    float: left; 
}
.card-right {
    width: calc(100% - 50px);
    max-width: 100%;
    float: left; 
}
.dashboard-component h5 {
    font-size: 16px;
    color: #333333;
    font-family: SourceSansPro;
}
.border {
	border: 1px solid #dee2e6!important
}

.border-top {
	border-top: 1px solid #dee2e6!important
}

.border-right {
	border-right: 1px solid #dee2e6!important
}

.border-bottom {
	border-bottom: 1px solid #dee2e6!important
}

.border-left {
	border-left: 1px solid #dee2e6!important
}

.border-0 {
	border: 0!important
}

.border-top-0 {
	border-top: 0!important
}

.border-right-0 {
	border-right: 0!important
}

.border-bottom-0 {
	border-bottom: 0!important
}

.border-left-0 {
	border-left: 0!important
}

.border-primary {
	border-color: #007bff!important
}

.border-secondary {
	border-color: #6c757d!important
}

.border-success {
	border-color: #28a745!important
}

.border-info {
	border-color: #17a2b8!important
}

.border-warning {
	border-color: #ffc107!important
}

.border-danger {
	border-color: #dc3545!important
}

.border-light {
	border-color: #f8f9fa!important
}

.border-dark {
	border-color: #343a40!important
}

.border-white {
	border-color: #fff!important
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.login-block .input-group {
    border-bottom: 0 !important;
}
.login-block .input-group .form-control {
    border: 0;
    border-bottom: 1px solid #dee2e6;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.login-block .card-body {
    padding: 15px;
}
.p-15 {
	padding: 10px 15px !important;
}
.pl-30 {
	padding-left: 31px !important;
}
.width {
	width: 100% !important;
}
.dashboard-component .card i.fa {
    font-size: 20px;
}
h4 {
    text-transform: capitalize;
    font-size: 16px;
    font-family: SourceSansPro;
}
.project-count {
    width: 22px;
    height: 22px;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-name {
    width: 44px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: #bdbdbd;
}
.project-name a {
    color: #212121;
}
.project-name a:hover {
    color: #fff;
    background-color: #63c2de;
}
.project-list h4 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 17px;
}
.dashboard-component .chart-wrapper i.fa, .project-component table i.fa {
    font-size: 14px;
    color: #444444;
}
.project-component .table tr td {
    border: 0;
    vertical-align: middle;
}
.project-component .table tr th {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}
.project-list input.form-control {
    position: relative;
}
.project-list .input-group-addon {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: -15px;
    z-index: 9;
}
.project-list a.btn {
    color: black;
}
.add-project .row .form-group {
    margin-bottom: 15px;
}
.proj-desc label {
	width: 16.2%;
	max-width: 100%;
}
.proj-desc textarea {
	width: calc(100% - 16.2%) !important;
	max-width: 100%;
}
.assign-contractor a {
    font-weight: bold;
    color: #424242 !important;
}
.assign-contractor a .icon-align {
    font-size: 16px;
    padding: 0;
    width: 25px;
    height: 25px;
}
/*.assign-contractor a span span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}*/
.assign-contractor-fields .btn {
    padding: 0;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.add-contrator {
	position: relative;
}
.add-contrator .add-icon {
    position: absolute;
    right: 15px;
}
.common-button {
	color: #212121;
	border-color: #212121;
    padding: 10px 38px;
    font-size: 14px;
}
.popover-common-button {
    color: #212121;
    border-color: #212121;
    padding: 5px 18px;
    font-size: 14px;
}
.popover-body {
    font-size: 14px;
}
.popover .arrow {
    left: 50%;
    transform: translate(-50%);
}
.action-icons .popover-content {
    border: none;
}
.action-icons .popover-body {
    font-size: 14px;
    background: #000;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 3px 15px;
}
.action-icons .popover .arrow:after {
    border-top-color: rgb(0, 0, 0);
    border-width: 0.4rem 0.4rem 0;
} 
.action-icons .popover .arrow {
    bottom: -7px;
}
.solid-btn {
	padding: 10px 38px;
    font-size: 14px;
    background: #5cb85c;
}
.dashboard-component .chart-wrapper {
	min-height: 300px;
}
.add-project-heading .input-group-addon, .form-calendar .input-group-addon  {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    height: 35px !important;
}
.add-project-heading  .input-group-addon, .add-project-heading  .input-group-btn, .form-calendar  .input-group-addon, .form-calendar  .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.add-project-heading  .input-group .form-control, .add-project-heading  .input-group-addon, .add-project-heading .input-group-btn {
    display: table-cell;
}
.add-project-heading  .input-group, .form-calendar .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.add-project-heading  .input-group input, .input-group.form-calendar  input {
    z-index: 9;
}
.add-project-heading  .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.full-height {
    height: calc(100% - 1.5rem);
}
.equal {
   /* width: 120px;
    margin: 0 auto;*/
    text-transform: capitalize;
}
.max-height {
    max-height: 275px;
    overflow-y: auto;
}
.max-height tr td {
    border-color: #e0e0e0;
}
.max-height tr:first-child td {
    border-top: none;
}
.m-8 {
    margin-top: 8%;
}
button:focus {
    outline: none;
}
.action-icons {
    width: 180px;
    /*margin:0 auto;*/
}
.view-contractor span {
    word-wrap: break-word;
}
.add-project-heading .input-group-addon, .form-calendar .input-group-addon {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}
.form-calendar .input-group-addon {
    border-left: 1px solid #ccc !important;
}
.remove-user {
    font-weight: normal;
    font-size: 14px;
}
.fa-add-user {
    font-weight: normal;
    font-size: 12px;
}
nav.sidebar-nav {
    font-family: SourceSansPro;
}
ul.pagination.pull-right {
    display: none;
}
.font-20 {
    font-size: 20px;
}
select.form-control option {
    color: #000;
}
.timesheet .timepicker {
    position: relative;
}
.timesheet .timepicker table th, .timesheet .timepicker table td {
    padding: 0;
    border: none;
}
.timesheet .timepicker table td:nth-last-child(2) {
    display: none;
}
.timesheet .timepicker table tbody .text-center {
    text-align: left !important;
}
.timesheet .timepicker table tbody .bs-timepicker-field {
    padding: 2px 5px;
    width: 55px;
}
.timesheet .timepicker table tbody .bs-chevron {
    width: 8px;
    height: 8px;
    border-width: 2px 0px 0 2px;
}
.timesheet .timepicker table tbody tr:first-child , 
.timesheet .timepicker table tbody tr:last-child {
    position: absolute;
    width: 119px;
    left: 24px;
    top: -4px;
    display: inline-table;
}
.timesheet .timepicker table tbody tr:last-child {
    bottom: -4px;
    top:initial;
}
.btn:disabled{
    opacity: 0.5;
    cursor: default;
}
.project-component table .action-icons .fa-user {
    font-size: 20px;
}
.navbar-nav a.dropdown-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #63c2de;
}
.navbar-nav a.dropdown-item:hover i.fa {
   color: #fff;
}
.dropdown-menu .dropdown-header {
    font-size: 14px;
}
.assign-contractor-fields .form-group {
    margin-bottom: 0;
}
img.placeholder {
    width: 60px;
    height: 60px;
}
a.remove-img {
    position: absolute;
    top: -6px;
    left: 59px;
}
a.remove-img i.fa {
    color: red;
    padding: 1px 2px;
    border-radius: 2px;
}
.profile-pic-placeholder {
    width: calc(100% - 33.3%);
    float: right;
    margin-bottom: 15px;
    position: relative;
}
.profile-upload-pic {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    position: relative;
}
.dropdown-menu.show a.dropdown-item.active {
    background: transparent;
    color: #151b1e;
}
.dropdown-menu.show a.dropdown-item.active i.fa {
    color: #63c2de;
}
.common-button:hover {
    background: #20a8d8 !important;
    color: white !important;
    border-color: #20a8d8;
}
.text-error{ color: red; }
@media screen and (max-width: 1260px) {
    .assign-contractor-fields input {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
        width: inherit !important;
    }
}
@media screen and (max-width: 991px) {
    .container {
        max-width: 100%;
    }
    .proj-desc label {
        width: 20%;
        max-width: 100%;
    }
    .proj-desc textarea {
        width: calc(100% - 20%) !important;
        max-width: 100%;
    }
    .add-new-client .proj-desc label, .add_contractor .proj-desc label {
        width: 16.2%;
        max-width: 100%;
    }
    .add-new-client .proj-desc textarea, .add_contractor .proj-desc textarea{
        width: calc(100% - 16.2%) !important;
        max-width: 100%;
    }
}
@media screen and (max-width: 838px) {
    .profile-pic-placeholder {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
	.container.add-project-heading {
	    max-width: 100%;
	}
	.proj-desc label, .add-new-client .proj-desc textarea, .add-new-client .proj-desc label, .add_contractor .proj-desc textarea, .add_contractor .proj-desc label {
		width: 100% !important;
		max-width: 100%;
	}
    ul.nav.navbar-nav li:first-child {
        display: none;
    }
    .proj-desc textarea {
        width: 100% !important;
        max-width: 100%;
    }
    .add-contrator .add-icon {
        bottom: 8px;
    }
    .assign-contractor-fields input, .assign-contractor-fields select {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
        max-width: 100%;
    }
    .mob-pl {
        padding-left: 0 !important
    }
    .theme-green {
        -webkit-transform: scale(0.7) !important;
        transform: scale(0.7) !important;
    }
}
@media (orientation:landscape) and (max-width: 767px){
     /* Your CSS Here*/
    .theme-green .bs-datepicker-multiple {
        display: inline-block;
        float: left;
    }
    .aside-menu-fixed bs-daterangepicker-container {
        -webkit-transform: inherit;
        transform: inherit;
        position: absolute !important;
        left: 0 !important;
        top: 58% !important;
    }
    .theme-green .bs-datepicker-multiple + .bs-datepicker-multiple {
        margin-top: 0;
        margin-left: 10px;
    }
    .bs-datepicker.theme-green {
        -webkit-transform: scale(0.8) !important;
        transform: scale(0.8) !important;
    }
}
@media (orientation:landscape) and (max-width: 575px){
     /* Your CSS Here*/
    
    .aside-menu-fixed bs-daterangepicker-container {
        -webkit-transform: inherit;
        transform: inherit;
        position: absolute !important;
        left: -14% !important;
        top: 78% !important;
    }
    .bs-datepicker.theme-green {
        -webkit-transform: scale(0.7) !important;
        transform: scale(0.7) !important;
        left:10%;
    }
}
@media screen and (max-width: 600px) {
	.main .container-fluid {
		padding: 0;
	}
	.project-component h4 span {
	    margin-bottom: 8px;
	}
    .assign-contractor-fields input, .assign-contractor-fields select {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83%;
        flex: 0 0 83%;
        max-width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .mob-spacing {
        padding:4px 5px;
    }
    .contractor-list {
        padding-left: 15px;
    }
}