/* You can add global styles to this file, and also import other style files */
.border {
	border: 1px solid #dee2e6!important
}

.border-top {
	border-top: 1px solid #dee2e6!important
}

.border-right {
	border-right: 1px solid #dee2e6!important
}

.border-bottom {
	border-bottom: 1px solid #dee2e6!important
}

.border-left {
	border-left: 1px solid #dee2e6!important
}

.border-0 {
	border: 0!important
}

.border-top-0 {
	border-top: 0!important
}

.border-right-0 {
	border-right: 0!important
}

.border-bottom-0 {
	border-bottom: 0!important
}

.border-left-0 {
	border-left: 0!important
}

.border-primary {
	border-color: #007bff!important
}

.border-secondary {
	border-color: #6c757d!important
}

.border-success {
	border-color: #28a745!important
}

.border-info {
	border-color: #17a2b8!important
}

.border-warning {
	border-color: #ffc107!important
}

.border-danger {
	border-color: #dc3545!important
}

.border-light {
	border-color: #f8f9fa!important
}

.border-dark {
	border-color: #343a40!important
}

.border-white {
	border-color: #fff!important
}
.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.login-block .input-group {
    border-bottom: 0 !important;
}
.login-block .input-group .form-control {
    border: 0;
    border-bottom: 1px solid #dee2e6;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.login-block .card-body {
    padding: 15px;
}
.p-15 {
	padding: 10px 15px !important;
}
.pl-30 {
	padding-left: 31px !important;
}
.width {
	width: 100% !important;
}
.dashboard-component .card i.fa {
    font-size: 20px;
}
h4 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 15px;
}
.project-list h4 {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 17px;
}
.dashboard-component .chart-wrapper i.fa, .project-component table i.fa {
    font-size: 14px;
    color: #444444;
}
.project-component .table tr td {
    border: 0;
}
.project-component .table tr th {
    border-top: 0;
    border-bottom: 1px solid #dee2e6;
}
.project-list input.form-control {
    position: relative;
}
.project-list .input-group-addon {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: -15px;
    z-index: 9;
}
.project-list a.btn {
    color: black;
}
.add-project .row .form-group {
    margin-bottom: 15px;
}
.proj-desc label {
	width: 16.2%;
	max-width: 100%;
}
.proj-desc textarea {
	width: calc(100% - 16.2%) !important;
	max-width: 100%;
}
.assign-contractor a {
    font-weight: bold;
    color: #424242 !important;
}
.assign-contractor a span {
    font-size: 16px;
    padding: 0;
    width: 25px;
    height: 25px;
}
.assign-contractor-fields span.btn {
    padding: 0;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.add-contrator {
	position: relative;
}
.add-contrator .add-icon {
    position: absolute;
    right: 15px;
}
.common-button {
	color: #212121;
	border-color: #212121;
    padding: 10px 38px;
    font-size: 14px;
}
.solid-btn {
	padding: 10px 38px;
    font-size: 14px;
    background: #5cb85c;
}
@media screen and (max-width: 767px) {
	.container.add-project-heading {
	    max-width: 100%;
	}
	.proj-desc label {
		width: 33.3%;
		max-width: 100%;
	}
	.proj-desc textarea {
	    width: calc(100% - 33.3%) !important;
	    max-width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.main .container-fluid {
		padding: 0;
	}
	.project-component h4 span {
	    margin-bottom: 8px;
	}
}