<div class="animated fadeIn" >
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="row mt-3 mb-3 project-list border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <h4 class="card-title">Projects List <a class="btn btn-info rounded ml-1 text-white" routerLink="/projects/addproject">+ Add New Project</a>

              </h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search projects"/>
              </div>
            </div>
          </div><!--/.row-->
          <div *ngIf="checkData == 1" class="chart-wrapper" style="margin-top:40px;">
          <div class="row d-flex">
            <div class="col-12">
              <div *ngIf="prodel == 1" class="alert alert-success">
                <strong>Project</strong> has deleted successfully!
            </div>
            </div>
          </div>  
          <div class="table-responsive project-component">
          <table class="table"[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="project_name"><h4>Project Name</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Client Name</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Client Email</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Project Type</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Status</h4></mfDefaultSorter>
            </th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data;let i = index">
            <td>
              <div class="card P-0 border-0 width mb-0">
                <div class="card-body row d-flex p-0">
                  <div class="col-12 d-flex flex-wrap align-items-center justify-content-start p-0">
                    <h4 class="mb-0 width d-flex align-items-center"><span class="btn btn-outline-secondary rounded mr-2 project-name"><a class="btn btn-show-contact100 project-detail" routerLink="/projects/viewproject/{{item.id}}">{{item.project_name.charAt(0)}}</a></span> {{item.project_name}}</h4>
                  </div>
                </div>
              </div>
            </td>
            <td>{{item.client_name}}</td>
            <td>{{item.email}}</td>
            <td style="text-transform: capitalize;">{{item.project_type}}</td>
            <td>
                  <span class="badge badge-success rounded">Active</span><br />
                  <!-- <span class="badge badge-danger rounded">Inactive</span> -->
                </td>
            <td>
              <div class="d-flex align-items-center justify-content-end">
                <span>
                  <a class="btn btn-show-contact100" routerLink="/projects/viewproject/{{item.id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </span> 
                <span *ngIf="currentUserID == item.member_id || currentUserRole == 1">
                  <a class="btn btn-show-contact100" routerLink="/projects/editproject/{{item.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </span>  
                <span *ngIf="currentUserID == item.member_id || currentUserRole == 1">
                  <button class="btn btn-small btn-outline-0 bg-transparent " (click) ="delproject(item.id,i)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="pagination-align">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>     
          </div>
          <div class="chart-wrapper pt-2 pb-2" *ngIf="checkData == 0">
            <div class="row p-3 pb-3">
              <div class="col-12 p-0">No Data Found!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.card2-->
</div>
