<div class="animated fadeIn" id="projectlisting">
  <div class="row">
    <div class="col-sm-12">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row mt-3 mb-3 project-list border-bottom">
            <div class="col-lg-8 col-md-8 col-sm-12 col-12">
              <h4 class="card-title">Projects List <a class="btn btn-info rounded ml-1 text-white" id="add-project-btn" routerLink="/projects/addproject" *ngIf="currentUserRoleId == 1">+ Add New Project</a>

              </h4>
              <!-- <div class="small text-muted">November 2017</div> -->
            </div><!--/.col-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-12">
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search projects"/>
              </div>
            </div>
          </div><!--/.row-->
          <div *ngIf="checkData == 1" class="chart-wrapper" style="margin-top:40px;">
          <!-- <div class="row d-flex">
            <div class="col-12">
              <div *ngIf="prodel == 1" class="alert alert-success">
                <strong>Project</strong> has deleted successfully!
            </div>
            </div>
          </div>  --> 
          <div class="table-responsive project-component">
          <table class="table"[mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="project_name"><h4>Project Name</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Project Unique No</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Client Name</h4></mfDefaultSorter>
            </th>
            <!-- <th>
              <mfDefaultSorter by=""><h4>Client Email</h4></mfDefaultSorter>
            </th> -->
            <th>
              <mfDefaultSorter by=""><h4>Project Type</h4></mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by=""><h4>Status</h4></mfDefaultSorter>
            </th>
            <th><h4>Actions</h4></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data;let i = index">
            <td>
              <div class="card P-0 border-0 width mb-0">
                <div class="card-body row d-flex p-0">
                  <div class="col-12 d-flex flex-wrap align-items-center justify-content-start p-0">
                    <h4 class="mb-0 width d-flex align-items-center">{{item.project_name}}</h4>
                  </div>
                </div>
              </div>
            </td>
            <td>{{item.client_code}}-{{item.project_code}}-{{item.custom_project_id}}</td>
            <td>{{item.client_name}}</td>
            <!-- <td>{{item.email}}</td> -->
            <td style="text-transform: capitalize;">{{item.project_type}}</td>
            <td>
                  <span class="badge badge-success rounded" *ngIf="item.status == 'active'">Active</span>
                  <span class="badge badge-success rounded" *ngIf="item.status == 'draft'">Draft</span>
                  <span class="badge badge-success rounded" *ngIf="item.status == 'inprogress'">Inprogress</span>
                  <span class="badge badge-success rounded" *ngIf="item.status == 'completed'">Completed</span>
                   <span class="badge badge-danger rounded" *ngIf="item.status == 'inactive'">Inactive</span>
                   <span class="badge badge-danger rounded" *ngIf="item.status == 'canceled'">Canceled</span>
                   <span class="badge badge-danger rounded" *ngIf="item.status == 'deleted'">Deleted</span>
                </td>
            <td>
              <div class="d-flex align-items-center action-icons">
                <span>
                  <a class="btn btn-show-contact100" routerLink="/projects/viewproject/{{item.id}}" popover="View" [popoverOnHover]="true"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </span>
                <span *ngIf="currentUserRoleId == 2 && item.assignMemId == 0">
                  <button class="btn btn-small btn-outline-0 bg-transparent " (click) ="assignproject(item.id, currentUserID)" popover="Assign to Me" [popoverOnHover]="true">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                </span>
                <span *ngIf="currentUserRoleId == 2 && item.assignMemId == currentUserID" class="btn btn-small btn-outline-0 bg-transparent" style="opacity: 0.5; cursor: default;">
                   <i class="fa fa-user" aria-hidden="true" popover="Already Assigned" [popoverOnHover]="true"></i>
                </span>
                <span *ngIf="currentUserID == item.member_id || currentUserRoleId == 1">
                  <a class="btn btn-show-contact100" routerLink="/projects/editproject/{{item.id}}" popover="Edit" [popoverOnHover]="true"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </span>  
                <span *ngIf="currentUserRoleId == 1 && item.status != 'deleted'">
                  <button class="btn btn-small btn-outline-0 bg-transparent " (click) ="delproject(item.id,i)" popover="Delete" [popoverOnHover]="true">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="pagination-align">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>     
          </div>
          <div class="chart-wrapper pt-2 pb-2" *ngIf="checkData == 0">
            <div class="row p-3 pb-3">
              <div class="col-12 p-0">No Data Found!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.card2-->
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container> 

